<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head th:replace="admin/layout:: head"></head>
    <body>
        <div class="d-flex" id="wrapper">
            <div th:replace="admin/layout:: menu"></div>
            <div id="page-content-wrapper">
                <h3>Editable table</h3>
                <div class="card-body">
                    <div id="table" class="table-editable">
                        
                        <table class="table table-bordered table-responsive-md table-striped text-center">
                            <thead>
                                <tr>
                                    <th class="text-center">Id</th>
                                    <th class="text-center">Title</th>
                                    <th class="text-center">Detail</th>
                                    <th class="text-center">Remove</th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr>
                                    <td class="pt-3-half" contenteditable="true">Aurelia Vega</td>
                                    <td  class="pt-3-half" contenteditable="true"> aaa</td>
                                    <td  class="pt-3-half" contenteditable="true">bbbb</td>
                                    <td>
                                        <ul class="list-inline m-0">
                                            <li class="list-inline-item">
                                                <button class="btn btn-primary btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Add"><i class="fa fa-table"></i></button>
                                            </li>
                                            <li class="list-inline-item">
                                                <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                                            </li>
                                            <li class="list-inline-item">
                                                <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </body>
</html>
